<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <contextName>logback</contextName>
    <!--property属性定义变量值   -->
    <property name="log.file" value="log/st.log" />
    <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--<level>ERROR</level>-->
    <!--</filter>-->
    <!-- appender用来格式化日志输出节点 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder表示对日志进行编码 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level - %msg \(%logger{36}:%line\) [%thread]  %X{REQID}%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}</file>
        <!--滚动日志文件生成策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>st.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level - %msg \(%logger{36}:%line\) [%thread]  %X{REQID}%n</pattern>
        </encoder>
    </appender>

    <!--root节点是必选节点，用来指定最基础的日志输出级别，只有一个level属性-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>